/*! HT  ML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */


/*
* What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/


/* ==========================================================================
Base styles: opinionated defaults
========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}


/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Vendor-prefixed and regular ::selection selectors cannot be combined:
* https://stackoverflow.com/a/16982510/7133471
*
* Customize the background color to match your design.
*/

 ::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

 ::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
* A better looking default horizontal rule
*/

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
* Remove the gap between audio, canvas, iframes,
* images, videos and the bottom of their containers:
* https://github.com/h5bp/html5-boilerplate/issues/440
*/

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
* Remove default fieldset styles.
*/

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
* Allow only vertical resizing of textareas.
*/

textarea {
    resize: vertical;
}


/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
font families used in the project
========================================================================== */


/*
font-family: 'Bitter', serif;                       subtitulos
font-family: 'Source Code Pro', monospace;          parrafos
font-family: 'Libre Baskerville', serif;            titulos
*/


/* ==========================================================================
color palete used in the project
========================================================================== */


/*
kinda white E7EDED
silver      97A29E
dark green  4D5C33
blue gray   3B525E
dark blue   020718
*/


/* ==========================================================================
Author's custom styles
========================================================================== */

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    background-color: #E7EDED;
}

h2 {
    font-family: 'Libre Baskerville', serif;
    color: #020718;
    font-size: 2em;
    text-align: center;
}

h3 {
    font-family: 'Libre Baskerville', serif;
    color: #020718;
    font-size: 1.3em;
    margin-bottom: 0;
}

h2::after {
    content: '';
    margin: 0 auto;
    background-image: url(../img/separador2chico.png);
    height: 30px;
    width: 200px;
    display: block;
}

.seccion {
    padding: 30px;
}

.button {
    background-color: #4D5C33;
    color: #E7EDED;
    padding: 10px 30px;
    text-transform: uppercase;
    font-family: 'Bitter', serif;
    text-decoration: none;
    font-size: .8em;
    display: inline-block;
    margin: 10px;
}

.button:hover {
    background-color: #97A29E;
    transition: all .8s ease;
}

p {
    font-family: 'Source Code Pro', monospace;
    color: #020718;
    margin-top: 0;
    font-size: 1.2em;
    text-align: justify;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

div.hero {
    background-image: url(../img/encabezado.jpg);
    height: 100vh;
    background-position: center top;
    background-size: cover;
}

div.contenido-header {
    padding-top: 40px;
}

@media only screen and (min-width:768px) {
    div.contenido-header {
        padding-top: 10px;
    }
}

.contenedor {
    width: 98%;
    margin: 0 auto;
}

@media only screen and (min-width:480px) {
    .contenedor {
        width: 95%;
        margin: 0 auto;
    }
}

@media only screen and (min-width:76cpx) {
    .contenedor {
        width: 90%;
        margin: 0 auto;
    }
}

@media only screen and (min-width:1000px) {
    .contenedor {
        width: 98%;
        max-width: 1100px;
    }
}

nav.redes-sociales {
    text-align: center;
}

nav.redes-sociales a {
    color: white;
    font-size: 1em;
    margin-right: 20px;
}

@media only screen and (min-width:768px) {
    nav.redes-sociales a {
        color: white;
        font-size: 2em;
        margin-right: 20px;
    }
}

nav.redes-sociales a:last-child {
    margin-right: 0;
}

div.informacion-evento {
    text-align: center;
    color: white;
}

@media only screen and (min-width:768px) {
    div.informacion-evento {
        width: 70%;
        margin: 0 auto;
    }
}

div.informacion-evento p {
    margin: 0;
    display: inline;
    font-size: 1.5vw;
    font-family: 'Bitter', serif;
}

div.informacion-evento p i {
    color: blue;
}

p.ciudad {
    float: right;
    color: #E7EDED;
}

h1.nombre-sitio {
    font-size: 6.5vw;
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    color: #E7EDED;
}

@media only screen and (min-width:768px) {
    h1.nombre-sitio {
        font-size: 7.5vw;
        font-family: 'Libre Baskerville', serif;
        color: #E7EDED;
    }
}

p.slogan {
    font-size: 2.5vw !important;
    text-transform: none !important;
    color: #E7EDED;
}

@media only screen and (min-width:768px) {
    p.slogan {
        font-size: 1.5vw !important;
        text-transform: none !important;
        color: #E7EDED;
    }
}

div.barra {
    background-color: #020718;
    padding: 10px 0;
}

div.logo {
    width: 250px;
    float: left;
}

div.logo img {
    width: 100%;
}

@media only screen and (min-width:768px) {
    div.logo {
        width: 350px;
        float: left;
    }
}

nav.navegacion-principal {
    display: none;
}

@media only screen and (min-width:1100px) {
    nav.navegacion-principal {
        width: 67%;
        float: right;
        text-align: right;
        display: block;
    }
}

nav.navegacion-principal a {
    font-family: 'Bitter', serif;
    color: #E7EDED;
    font-size: 1.4em;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 30px;
    display: block;
    text-align: center;
    margin: auto;
}

@media only screen and (min-width:1100px) {
    nav.navegacion-principal a {
        font-family: 'Bitter', serif;
        color: #E7EDED;
        font-size: 1.4em;
        text-transform: uppercase;
        text-decoration: none;
        padding: 5px 10px;
        line-height: 60px;
        display: inline-block;
        transition: all .6s ease;
    }
}

nav.navegacion-principal a:hover {
    background-color: #97A29E;
}

nav.navegacion-principal a:last-child {
    color: #4D5C33;
}

div.menu-movil {
    width: 50px;
    display: block;
    float: right;
    text-align: right;
    margin-top: 12px;
}

div.menu-movil:hover {
    cursor: pointer;
}

div.menu-movil span {
    height: 6px;
    margin-bottom: 5px;
    background-color: white;
    display: block;
}

@media only screen and (min-width:1100px) {
    div.menu-movil {
        display: none;
    }
}

section.programa {
    position: relative;
}

div.contenido-programa {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

div.programa-evento {
    background-color: rgb(231, 237, 237, .8);
    padding: 15px;
    margin-top: 80px;
}

@media only screen and (min-width:768px) {
    div.programa-evento {
        width: 70%;
    }
}

@media only screen and (min-width:992px) {
    div.programa-evento {
        width: 50%;
    }
}

nav.menu-programa {
    width: 100%;
    border-bottom: 1px solid #4D5C33;
    padding-bottom: 5px;
}

@media only screen and (min-width:992px) {
    nav.menu-programa {
        display: table;
    }
}

nav.menu-programa a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #3B525E;
    font-family: 'Bitter', serif;
    margin-bottom: 5px;
    font-size: 1.2em;
}

@media only screen and (min-width:992px) {
    nav.menu-programa a {
        display: table-cell;
    }
}

nav.menu-programa a i {
    color: #4D5C33;
    font-size: 1.35em;
    margin-right: 10px;
}

div.contenedor-video {
    position: relative;
    height: 700px;
    width: 360px;
}

@media only screen and (min-width:1400px) {
    div.contenedor-video {
        position: relative;
        height: 700px;
        width: 100%;
    }
}

@media only screen and (min-width:400px) {
    div.contenedor-video {
        position: relative;
        height: 700px;
        width: 100%;
    }
}

video.video-rep {
    object-fit: cover;
    overflow: hidden;
}

ul.lista-nosotros li {
    padding: 10px;
    float: left;
}

@media only screen and (min-width:480px) {
    ul.lista-nosotros li {
        width: 50%;
    }
}

@media only screen and (min-width:768px) {
    ul.lista-nosotros li {
        width: 33.3%;
    }
}

div.nosotros {
    position: relative;
    overflow: hidden;
}

div.nosotros img {
    width: 100%;
    filter: grayscale(0);
    transition: all .4s ease-in-out;
}

div.nosotros:hover img {
    filter: grayscale(1);
    transform: scale(1.1)
}

div.nosotros p {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 15px 10px;
    margin: 0;
    background-color: rgba(2, 7, 24, 0.60);
    width: 100%;
    font-family: 'Bitter', serif;
    color: #97A29E;
    transition: all .4s ease-in-out;
}

div.nosotros:hover p {
    bottom: -80px;
    opacity: 0;
}

.parallax::before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

div.contador {
    position: relative;
    height: auto;
}

div.contador::before {
    background-image: url(../img/bg-resumen.jpg);
    content: '';
}

p.numero {
    font-family: 'Libre Baskerville', serif;
    color: #020718;
    font-size: 3em;
    display: block;
    margin: 0 0 10px 0;
    text-align: center;
}

ul.lista-precios>li {
    padding: 10px;
}

@media only screen and (min-width:768px) {
    ul.lista-precios>li {
        float: left;
        width: 33%;
    }
}

div.tabla-precio {
    border: 1px solid #3B525E;
    background-color: rgba(77, 92, 51, .60);
    padding: 40px 0;
    text-align: center;
    transition: all .3s ease;
}

div.tabla-precio ul li {
    font-family: 'Source Code Pro', monospace;
    font-size: 14px;
    margin-bottom: 15px;
    color: #020718;
    line-height: 15px;
}

div.tabla-precio ul li i {
    display: inline-block;
    vertical-align: top;
    padding: 0 5px;
    font-size: 20px;
    color: green;
}

div.tabla-precio:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 50px;
}


/* ==========================================================================
Helper classes
========================================================================== */


/*

kinda white #E7EDED
silver      #97A29E
dark green  #4D5C33
blue gray   #3B525E
dark blue   #020718
* Hide visually and from screen readers
*/

.hidden {
    display: none !important;
}


/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
    /* 1 */
}


/*
* Extends the .visuallyhidden class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}


/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
    visibility: hidden;
}


/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
    content: " ";
    /* 1 */
    display: table;
    /* 2 */
}

.clearfix:after {
    clear: both;
}


/* ==========================================================================
EXAMPLE Media Queries for Responsive Design.
These examples override the primary ('mobile first') styles.
Modify as content requires.
========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
Print styles.
Inlined to avoid the additional HTTP request:
https://www.phpied.com/delay-loading-your-print-css/
========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
* Don't show links that are fragment identifiers,
* or use the `javascript:` pseudo protocol
*/
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
* Printing Tables:
* http://css-discuss.incutio.com/wiki/Printing_Tables
*/
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}
